<!-- Contact Section -->
    <div class="container my-2">
        <h1 class="ps-2">Contact</h1>
        <p class="ps-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
<!-- Contact Form-->
        <div class="container bg-light p-3 w-75">
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="email" class="form-label"><strong>Your email</strong></label>
                </div>
                <div class="col-9">
                    <input type="email" class="form-control" id="email" placeholder="Your email address">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3 text-end">
                    <label for="text-message" class="form-label"><strong>Your message</strong></label>
                </div>
                <div class="col-9">
                    <textarea class="form-control" id="text-message" rows="3" placeholder="Please enter your message here..."></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-11">
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary float-end">Submit</button>
                </div>
            </div>
        </div>
    </div>