<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center p-3 border rounded bg-white">
        <div>
            <h5 class="mb-1">
                <span class="fw-bold">This First heading</span>
                <span class="text-muted">Will Catch Your Eye</span>
            </h5>
            <p class="mb-0 text-muted">Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus
                varius blandit sit amet non magna. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac,
                vestibulum at eros.</p>
        </div>

        <div>
            <img src="/website/assets/img/1.jpg" alt="Walter White" class="rounded-circle border">
        </div>
    </div>
</div>